body {
  background-color: rgb(255,204,204);
  font-family: Georgia;
  color:DarkRed;
  width: 960px;
  margin: 0 auto;
  padding: 50px;
}
a:hover{
  background-color: black;
  color:Plum;
}
header{
  padding:50px;
  text-align:center;
}
.picture img{
  width:500px;
}
.picture p{
  margin-left:150px;
}
.content{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.ingredients{
  background:peachpuff;
  width: 400px;
  border: 4px dashed white;
  padding: 20px;
}
li{
  font-size: 20px;
}
li:hover{
  background-color: black;
  color: white;
}
